$menuSize: 280px;
$recolheMenuSize: 60px;
$menuBg: #FFF;
$menuCollor: rgb(0, 0, 0);
$globalBg: rgb(220, 224, 224);
//$full-logo: "/assets/img/logo-pro-laudo-linear-claro.png";
$full-logo: "";
//$small-logo: "/assets/img/logo-pro-laudo-small.png";
$small-logo: "";
$small: 817px;
$medium: 1024px;
$large: 1440px;
$fontPrimary: "Cairo";
$fontSecondary: "Poppins";
$fontNormal: "Helvetica";
$primaryCollor: #0d6efd;
$font-logo: "Bauhaus 93";

:root{
  --limitPage: 1220px;
  --bg-light : rgb(209, 210, 219);
  --light : #FFF;
  --lightBlue : #00bedd;
  --blue : #0078b6;
  --darkBlue : #1e50b0;
  --lightPurple : #7f3d94;
  --purple : #4b3885;
  --darkPurple : #050a5f;
  --bg-dark : rgb(31, 31, 31);
  --dark : rgb(46, 49, 56);

  // CORES DO TEMA
  --ThemeColor: var(--bg-light);
  --PanelColor: var(--light);
  --DestaqColor: var(--blue);
  --FontColor:var(--dark);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{

  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  &.theme-dark{
    --ThemeColor: var(--bg-dark);
    --PanelColor: var(--dark);
    --FontColor: #ccc;
  }

  &.theme-light{
    --ThemeColor: var(--bg-light);
    --PanelColor: var(--light);
    --FontColor:var(--dark);
  }

  &.destaq-blue{
    --DestaqColor: var(--blue);
  }

  &.destaq-light-blue{
    --DestaqColor: var(--lightBlue);
  }

  &.destaq-dark-blue{
    --DestaqColor: var(--darkBlue);
  }

  &.destaq-purple{
    --DestaqColor: var(--purple);
  }

  &.destaq-light-purple{
    --DestaqColor: var(--lightPurple);
  }

  &.destaq-dark-purple{
    --DestaqColor: var(--darkPurple);
  }
}

html,body{
  margin:0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Lato,sans-serif;

  #__next{
    display: flex;
    flex: 1;
  }
}

.label-view{
  display: none;
}

.scrolling{
  overflow-y: auto;
  overflow-x: hidden;
}

.radius{
  border-radius: 30px !important;
}

.btn{
  &-primary{
    background: $primaryCollor;
  }
}
.flex-1{
  flex:1;
}

@import "mixins"; 
@import "font";
@import "scroll";
@import "app";
@import "login";
@import "template/template";
@import "template/header";
@import "template/content";
@import "template/view";
@import "template/footer";
@import "template/logo";
@import "template/editor";
@import "menu/menu-top-icons";
@import "menu/menu-hide-show";
@import "menu/hamburger";
@import "componentes/qrcode";
@import "componentes/button";


//@import "dev";

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg); 
  } 
}

