html {
  box-sizing: border-box;
}
  *, *:before, *:after {
  box-sizing: inherit;
}

html,body{
  margin:0;
  padding: 0;
}

.label-view{
  padding: 10px;
  color: rgb(170, 170, 170);
  font-style: italic;
}
#template{
  position: fixed;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%;
  border:rgb(174, 0, 255) solid 5px;
  padding:2px;

  
  menu {
    margin: 0; 
    width: 30%;
    max-width: 250px;
    padding: 10px 2px;
    position: relative;
    border:rgb(53, 214, 201) solid 5px;

    .recolhe-menu{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
    }

    ul.menu-sidebar{
      padding: 0;
      list-style: none;

      li.menu-item{
        margin: 10px 0;
        border:red dashed;

        a.menu-link{
          background: rgb(255, 242, 242);
          display: block;
          padding: 10px;
          text-decoration: none;
        }

      }
    }
  }

  .view{
    flex: 1;
    border:rgb(0, 112, 28) solid 5px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-left: 2px;

    header{
      border:red dashed;
      padding: 10px;
    }

    #content{
      padding: 10px;
      border:rgb(7, 194, 54) dashed;
      background: rgb(224, 255, 232);
      margin: 2px 0;
      flex: 1;
    }

    footer{
      border:red dashed;
      padding: 10px;
    }
  }
}

.show-menu{
  #template{
    menu{
      width: 10%;
      max-width: 70px;
    }
  }
}

