/* STYLE MENU EFECT HIDE SHOW */

#__app{
  #template{
    #applogo{
      width: 100%;
      height: 3px;
      padding: 0 20px;
      max-width: 200px;
      
      .comprime-menu &{
          width: 200px;
      }
      svg {
        .cls-2{fill:#00bedd;}
        .cls-3{fill:#0078b6;}
        .cls-4{fill:#1e50b0;}
        .cls-5{fill:#7f3d94;}
        .cls-6{fill:#4b3885;}
        .cls-7{fill:#050a5f;}

        .theme-dark &{
          polygon{
            fill:var(--DestaqColor);
          }
          path{
            fill:#FFF;
          }
        }
        .comprime-menu &{
          transition: 0.3s all;
          width: 138px;
          margin-left: -74px;

          path{            
            transform: scale(0);
          }
        }
    
        &.logo-white{
          path{
            //fill: #FFF!important;
          }
        }
      }
    }

    menu {
      margin: 0; 
      width: $menuSize - 80;
      max-width: $menuSize;
      padding: 10px 0;
      position: relative;
      transition: 0.3s all;
      background: #FFF;
      .theme-dark &{
        background: var(--ThemeColor);
      }
      color: var(--FontColor);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;

      .recolhe-menu{
        position: relative;
        top: 2px;
        right: 0px;
        font-size: 20px;
        padding: 8px 10px 8px 20px;
        cursor: pointer;
        border-radius: 30px 0 0 30px;
      }

      ul.menu-sidebar{
        padding: 0;
        list-style: none;
        margin-top: 50px;
        /*overflow-y: auto;
        overflow-x: hidden;*/
        max-height: calc( 100% - 25px );
        flex: 1;

        li.menu-item{
          margin: 10px 0;
          cursor: pointer;

          a.menu-link{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            text-decoration: none;
            color: var(--menuCollor);

            .menu-icon{
              margin-right: 10px;
              min-width: 40px;
              text-align: center;  
              transition: 0.2s font-size ;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;

            }
          }

          a.active{
            background: rgba(0, 0, 0, 0.1);
            border-left:4px solid;
            padding-left: 6px;

          }
        }
      }
    }
  }
}

// COMPIMIDO 
.comprime-menu{
  #__app{
    #template{
      menu{
        width: 100%;
        max-width: $recolheMenuSize;

        .recolhe-menu{
          transform: rotate(180deg);
          right: 0;
        }

        ul.menu-sidebar{
    
          li.menu-item{
    
            a.menu-link{
              position: relative;
              text-align: center;            

              .menu-icon{
                font-size: 20px;
              }
              span.menu-item-name{
                position: absolute;
                left: $recolheMenuSize - 10;
                top:5px;
                background: #000;
                color: #FFF;
                width: max-content;
                padding: 5px 10px;
                display: none;
                z-index: 10;
              }

              span.menu-item-name::before{
                content: "";
                position: absolute;
                left: -13px;
                top: 50%;
                transform: translateY(-50%);
                border: transparent 5px solid;
                border-right: #000 8px solid;

              }
            }

            
            a.menu-link:hover{
              span.menu-item-name{
                display: initial;
              }
            }

          }
        }
      }
    }
  }
}
