@mixin close {
  visibility: hidden;
  transform: scale(0.7);
  transform-origin: top ;
  opacity: 0;
  transition: 0.2s all;
}

@mixin open {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
} 