/* STYLE TEMPLATE */

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
  *, *:before, *:after {
  box-sizing: inherit;
}

html{
  
  &.theme-dark{
    --ThemeColor: var(--bg-dark);
    --PanelColor: var(--dark);
    --FontColor: #ccc;
  }

  &.theme-light{
    --ThemeColor: var(--bg-light);
    --PanelColor: var(--light);
    --FontColor:var(--dark);
  }

  &.destaq-blue{
    --DestaqColor: var(--blue);
  }

  &.destaq-light-blue{
    --DestaqColor: var(--lightBlue);
  }

  &.destaq-dark-blue{
    --DestaqColor: var(--darkBlue);
  }

  &.destaq-purple{
    --DestaqColor: var(--purple);
  }

  &.destaq-light-purple{
    --DestaqColor: var(--lightPurple);
  }

  &.destaq-dark-purple{
    --DestaqColor: var(--darkPurple);
  }
}


html,body{
  margin:0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Lato,sans-serif;

  #__next{
    display: flex;
    flex: 1;
  }
}

.label-view{
  display: none;
}

.scrolling{
  overflow-y: auto;
  overflow-x: hidden;
}

#__app{

  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%;
  overflow-y: auto ;
  overflow-x: hidden;
  flex:1;
  transition: 0.6s all;
  background: #eee;

  .theme-dark & {
    background: var(--ThemeColor);;
  }

  #template{
    flex: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto ;
    overflow-x: hidden;
    flex:1;
    transform: scale(1);
    transition: 0.6s transform, 0.2s opacity;
    background: var(--ThemeColor);
    box-shadow: 0 5px 35px rgba(black,0.6);
    opacity: 1;

    &.hide{
      transform: scale(0.4);
      transition: 0.2s all;
      opacity: 0;
    }
    
    .view{
      flex: 1;
      display: flex;
      flex-direction: column;

      header{
        padding: 5px 20px;
        background: var(--PanelColor);;
        height: 100%;
        max-height: 50px;
        #header_search{
          flex:1;
          color: var(--FontColor);

          .border{
            //border-color: var(--FontColor)!important;
            background: var(--ThemeColor);
          }
          .mic{
            background: var(--DestaqColor);;
            width: 40px;
            height: 40px;
            border: none;
            margin: -1px;
          }
          & > div,span{
            text-overflow: ellipsis;
            white-space: nowrap; 
          }
        }
      }

      #content{
        padding: 10px;
        position: relative;
        flex:1;
        overflow-y: auto;
        overflow-x: hidden;
        background: var(--PanelColor);
        margin: 5px;
        border: var(--PanelColor) 5px solid;
        border-radius: 5px;
        color: var(--FontColor);
        font-size: 14px;
        transition: 0.2s all;
        right: 0;
      }
      
      #content.called{
        right: -100%;
        transition: 0.1s all;
      }

      footer{
        padding: 10px;
        background:var(--PanelColor);
        color:var(--FontColor);
        height: 100%;
        max-height: 40px;
        margin: 0 5px;
        position: relative;

        #loadPages{
          position: absolute;
          top: 3px;
          right: 10px;
          width: 30px;

          svg{
            circle{
              fill: none;
              stroke-dasharray: 200;
              stroke-width: 13px;
              stroke: var(--DestaqColor);
            }
          }
        }
      }
    }
  }
}