#__report{
  .title{
    padding: 10px 0;
  }
  #directorys{
    padding: 10px;
    .file{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 10px 5px;

      &:hover{
        background: var(--ThemeColor);
      }

      .file-name{
        min-width: 300px;
        flex: 4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .date{
        flex: 2;
      }
      .editing{
        flex:1;
        i{
          color: #FFF;
          background: #4caf50;
          font-weight: 100;
          padding: 2px 15px;
          border-radius: 10px;
          display: inline;
        }
      }
      i{
        padding-right: 10px;
      }
      .delete-file{
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        color: #FFF;
        cursor: pointer;

        i{
          padding: 0;
        }
      }

      .recycle-file{
        background: #4caf50;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        color: #FFF;
        cursor: pointer;

        i{
          padding: 0;
        }
      }
    }
  }
}