#editor{
  position: fixed;
  width: calc(100% - #{$menuSize} + 50px );
  max-height: calc(100% - 130px);
  transition: 0.3s all;

  & .editor{
    position: relative;
    filter: drop-shadow(0px -3px 2px rgba(0,0,0,0.12));
    overflow: hidden;

    .aba-editor{ 
      display: flex;
      max-width: calc(100% - 30px);
      ul{
        display: flex;
        max-width: 100%;
        padding: 0;
        margin: 0;

        li{
          cursor: default;
          padding: 5px 30px 5px 10px;        
          background: #FFF!important;
          position: relative;
          max-width: 210px;
          width: 100%;
          border-radius: 8px 8px 0 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          & span{
            padding: 0 5px;
          }

          &>i.icon{
            position: absolute;
            top:8px;
            right: 5px;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            &:hover{
              background:var(--ThemeColor);
            }
          }
          .theme-dark &{
            background: #222428!important;
            
          }            
          &:not(.active){
            background: #dde2e8!important;
            &:hover{
              background:var(--ThemeColor)!important;
            }
            .theme-dark &{
              background: #09090a!important;
              color: #666;

              &:hover{
                background:var(--ThemeColor)!important;
              }
            } 
          }
        }
      }      
    }

    .new-document{
      width: 22px;
      height: 22px;
      cursor: pointer;
      margin: 3px 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #area-editor{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      
      #list-editor{
        flex: 1;
        position: relative;
        flex-direction: column;
        
        .list-editor-item{
          position: absolute;
          flex-direction: column;
          width: 100%;
          height: calc( 100% );
          z-index: -1;
          &.active{
            z-index: 99;
          }
        }
      }
    }

    .editor-footer{
      padding: 2px 15px;
      font-style: italic;
      font-size: 12px;
      background: var(--DestaqColor);
      color: #FFF;
    }

    .notification-editor{
      position: absolute;
      background: rgb(190, 190, 190);
      bottom: -240px;
      left: 80px;
      z-index: 999;
      width: calc(100% - 176px);
      padding: 20px; 
      transition: 0.6s all;
      display: flex;
      justify-content: space-between;

      i{
        cursor: pointer;
      }

      &.on{
        bottom: 40px;
      }

      &.danger{
        background: rgba(red,0.5);
      } 
      
      &.success{
        background: rgba(green,0.5);
      } 
      
      &.warning{
        background: rgba(orange,0.5);
      }

      &.info{
        background: rgba(rgb(0, 181, 253),0.5);
      }
    }

    .editor-actions{
      position: absolute;
      bottom:45px;
      right: 25px;
      z-index: 9999;

      .action{
        
        &.open{
          ul{            
            @include open();
          }

        }

        ul{
          transform-origin: right!important;
          background: var(--PanelColor);
          position: absolute;
          bottom:0;
          right: 20px;
          padding: 20px;
          min-width: 170px;
          list-style: none;
          border-radius: 10px;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          @include close();

          li{
            padding: 10px;
            font-size: 12px;
            margin-bottom: 10px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

            background: rgba(0, 0, 0, 0.1);
            .theme-dark &{
              background: rgba(white, 0.1);
            }

            &:last-child{
              margin-bottom: 0;
            }
            i{
              padding-right: 10px;
            }
          }
        }
        &.save{
          button{
            width: 50px;
            height: 50px;
            box-shadow: 0 0 0 0.25rem rgba(49, 132, 253,0.5);
            i{
              font-size: 26px;
              color:#FFF;
            }
          }
        }
      }
    }
  }
  .comprime-menu &{
    width: calc(100% - #{$recolheMenuSize} - 30px );
  }

  #toolbar{
    background-image: url('/assets/img/toolbar.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
  }

  textarea{
    background: #dde2e8;
    padding: 10px 50px;
    border: none;
    outline: none;
    color:black;
    font-size: 16px;
    flex: 1;
    .theme-dark &{
      background: var(--ThemeColor);
      color: var(--FontColor);
    }
  }

  #__list_actions{
    
    ul{
      list-style: none;
      padding: 0 10px;
      max-height: 100%;
      li{
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 5px 0;
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s all;

        .theme-dark & {
          background: var(--ThemeColor);
          border-color: rgb(117, 117, 117);
          &:hover{
            background: rgb(53, 53, 53);
          }
        }

        &:hover{
          background: rgb(207, 236, 255);
        }

        i{
          font-size: 24px;
          text-align: left;
          min-width: 40px;
          color: var(--DestaqColor);
        }

        .text{
          display: flex;
          flex-direction: column;

          small{
            font-weight: normal;
            font-style: italic;
          }
        }

      }
    }
  }
}


.ck{
  &.ck-editor ,&.ck-editor__main{
    display: contents; 
  }

  &.ck-toolbar {
    background: #FFF!important;
    border: none!important;
    .theme-dark &{
      background: #222428!important;
    }
  }

  &.ck-reset_all, &.ck-reset_all * {
    border-collapse: collapse;
    font: normal normal normal var(--ck-font-size-base)/var(--ck-line-height-base) var(--ck-font-face);
    .theme-dark &{
      color: var(--FontColor);
    }
  }

  &.ck-editor__editable{
    height: calc( 100% - 40px ); 
    background: #dde2e8!important;
    padding: 10px 50px;
    border: none!important;
    outline: none;
    color:black;
    font-size: 16px;
    flex: 1;
    padding: 0 50px!important;

    .theme-dark &{
      background: var(--ThemeColor)!important;
      color: var(--FontColor);
      
    }
  }
}

