#editor{
  position: fixed;
  width: calc(100% - #{$menuSize} + 50px );
  max-height: calc(100% - 130px);
  transition: 0.3s all;

  .comprime-menu &{
    width: calc(100% - #{$recolheMenuSize} - 30px );
  }

  #toolbar{
    background-image: url('/assets/img/toolbar.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
  }

  textarea{
    background: #dde2e8;
    padding: 10px 50px;
    border: none;
    outline: none;
    color:black;
    font-size: 16px;
    flex: 1;
    .theme-dark &{
      background: var(--ThemeColor);
      color: var(--FontColor);
    }
  }

  #__list_actions{
    
    ul{
      list-style: none;
      padding: 0 10px;
      max-height: 100%;
      li{
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 5px 0;
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s all;

        .theme-dark & {
          background: var(--ThemeColor);
          border-color: rgb(117, 117, 117);
          &:hover{
            background: rgb(53, 53, 53);
          }
        }

        &:hover{
          background: rgb(207, 236, 255);
        }

        i{
          font-size: 24px;
          text-align: left;
          min-width: 40px;
          color: var(--DestaqColor);
        }

        .text{
          display: flex;
          flex-direction: column;

          small{
            font-weight: normal;
            font-style: italic;
          }
        }

      }
    }
  }
}


.ck{
  &.ck-editor ,&.ck-editor__main{
    display: contents; 
  }
  &.ck-editor__editable{
    height: calc( 100% - 40px ); 
    background: #dde2e8!important;
    padding: 10px 50px;
    border: none!important;
    outline: none;
    color:black;
    font-size: 16px;
    flex: 1;
    .theme-dark &{
      background: var(--ThemeColor)!important;
      color: var(--FontColor);
    }
  }
}