.Profile{
  &#modals{
    perspective: 1000px;
    .app_modal{

        &.unflip{
          transition: 0.8s transform;
        }
        &.flip{
          transition: 0.8s transform;
          transform: rotateY(180deg) scale(1);        
          transform-style: preserve-3d;
        }
      &.close{
        transform: rotateY(180deg) scale(0.7);
      }
    }
  }
}